---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
const fmtPubDate = new Date(frontmatter.pubDate).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---
<BaseLayout pageTitle={frontmatter.title}>
<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-style: italic;
  }
  header aside {
    text-align: center;
    padding: 0;
  }
  @media screen and (min-width: 636px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
<header>
  <img class="blog-image" src={frontmatter.image.url} alt={frontmatter.image.alt} width="240"/>
  <aside>
    <p>Written by <b>{frontmatter.author}</b></p>
    <p>published on {fmtPubDate}</p>
  </aside>
</header>
<slot />
</BaseLayout>
